beautifulsoup4
ipykernel
ipython
jupyter
matplotlib
mccabe
mglearn
numpy
open3d
opencv-python
pandas
path
Pillow
pip-review
plotly
requests
retrying
scikit-learn
scipy
selenium
urllib3
python-dotenv
scrapy
mecab-python3
gensim